h1.center {
    text-align: center;
}

h1.esquerda {
    text-align: left;
}

h1.direita {
    text-align: right;
}

h2.sublinhado {
    text-decoration: underline;
}

h2.azul {
    color: blue;
}

h2.verde {
    color: green;
}

h2.amarelo {
    color: yellow;
}

p.justificado {
    text-align: justify;
}

p.maiusculo {
    text-transform: uppercase;
}

h1.sombra {
    text-shadow: 2px 2px 4px #000000;
    
}